<p class='mb-m'>
  <strong>Uzupełnij wszystkie wymagane pola (oznaczone*). </strong><br>
  Formularz zawiera pola, dzięki którym możesz dokładnie i w łatwy sposób opisać swój pomysł.<br>
  <br>
  Kliknij przycisk <strong>Dalej</strong>, aby przejść do kolejnego etapu zgłaszania projektu.<br>
  Kliknij przycisk <strong>Zapisz wersję roboczą</strong>, jeśli chcesz później dokończyć uzupełnianie formularza<br>
</p>
