<p class='mb-m'>
  Sprawdź czy wszystkie wprowadzone dane są poprawne. Kliknij przycisk <strong>Edytuj</strong>, jeśli chcesz coś poprawić.
  <br>
  Kliknij przycisk <strong>Zgłoś projekt</strong>, aby dokończyć zgłaszanie projektu. Pojawi się okienko, w którym konieczne będzie potwierdzenie chęci zgłoszenia projektu.
</p>
