<p>
  Dziękujemy za zgłoszenie pomysłu do budżetu obywatelskiego w Warszawie.
  <br>
  Przesłaliśmy potwierdzenie na adres email podany  w zgłoszeniu.
</p>
<p>
  <strong>Zamieściliśmy Twój projekt na stronie.</strong>
  Jest widoczny dla wszystkich zainteresowanych mieszkańców w zakładce <strong>Przeglądaj  projekty</strong>.
</p>
<p>
  Pracownicy urzędu sprawdzą, czy Twój pomysł jest możliwy do realizacji i skontaktują się z Tobą, żeby poinformować o Twojej propozycji.
</p>
