<p>
  Testowe znaczki: óÓłżźć
</p>
<p>
  Testowe logo ttapdec02:
  <img src="<%= image_url("logo.png", host: "http://ttapdec02.bzmw.gov.pl") %>" width="376" height="108" alt="Logo" />
  <br>
  Testowe logo bo.testum.warszawa.pl:
  <img src="<%= image_url("logo.png", host: "https://bo.testum.warszawa.pl") %>" width="376" height="108" alt="Logo" />
</p>