<section class="footer__subhero extended home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <h2 class="section-heading"><%= t(".title").html_safe %></h2>
      <div class='row'>
        <div class='column medium-6 small-12 text-justify'>
          <p>
            <strong>Dzięki budżetowi obywatelskiemu mieszkańcy decydują o tym, na co przeznaczyć część budżetu Warszawy.</strong>
            To warszawiacy, co roku wymyślają i zgłaszają projekty, a następnie wybierają w głosowaniu te, które zostaną zrealizowane.
            W ten sposób wspólnie decydują o tym, co powstanie w najbliższej okolicy, w kilku dzielnicach lub w całej Warszawie.
          </p>
        </div>

        <div class='column medium-6 small-12  text-justify'>
          <p>
            <strong>W budżecie obywatelskim każdy mieszkaniec Warszawy może zgłosić projekt lub zagłosować.</strong>
             Nie trzeba być zameldowanym, ani pełnoletnim. Uczestnictwo w budżecie obywatelskim to świetna okazja,
             żeby razem z innymi decydować o tym, jak zmienia się Warszawa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
