<ul class="gray-info-box mb-l">
  <li class="text-center">
    <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name) %>
  </li>
  <li class="text-center">
    <%= link_to t("devise.shared.links.didn_t_receive_unlock_instructions"), new_unlock_path(resource_name) %>
  </li>
</ul>
