<div class="row column">
  <%= form.upload :file %>
</div>

<div class="row column">
  <%= form.collection_select :folder_id, folders, :id, :name, include_blank: 'Bez folderu' %>
</div>

<fieldset class="row column">
  <legend>
    <strong>
      Dla użytkowników o jakich rolach plik ma byc dostępny?
    </strong>
    <small>Niezaznaczenie żadnej z opcji jest równoznaczne z opcją: Dla wszystkich</small>

  </legend>
  <%= form.collection_check_boxes :user_roles, @form.available_roles, :first, :last %>
</fieldset>