<%= decidim_form_for(@form, html: { class: "form new_project project_form_admin" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title"), admin_changes: false } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
