<section class="extended subhero home-section">
  <div class="row border-bottom pb-l">
    <div class="row with-circle">
      <div class="columns small-centered large-10">
        <h2 class="heading2 section-heading any-questions show-for-medium">
          <%= t('.any_questions').html_safe %>
        </h2>
        <h2 class="heading2 section-heading any-questions hide-for-medium">
          <strong>Masz&nbsp;pytania?</strong>
          Potrzebujesz&nbsp;pomocy?
        </h2>
        <div class="row">
          <div class="column text-center help-cta">
            <%= link_to t(".see_help"), decidim.pages_path, class: "button hollow button--sc subhero-cta" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
