<div class="wrapper">
  <div class="row">
    <div class="columns medium-4 text-center" style="margin: auto; float: none;">
      <%= cell "decidim/profile_sidebar", profile_holder %>
    </div>
  </div>
</div>
