<div class="card__footer">
  <div class="status-info <%= status_class %>"><%= status %></div>
  <div class="year-info"><%= year_info %></div>
  <div class="localization-info"><%= localization_info %></div>
</div>
