<div class="tiny reveal confirm-reveal vote-modal-js"
     id="session-control-modal"
     aria-hidden="true"
     role="dialog"
     aria-modal="true"
     aria-labelledby="session-control-modal-title"
     aria-describedby="session-control-modal-content"
     data-reveal
     data-multiple-opened="true"
     tabindex="-1"
>
  <div class="reveal__header">
    <h2 class="reveal__title" id="session-control-modal-title">Sesja niedługo wygaśnie</h2>
    <button class="close-button" data-close aria-label="Zamknij okno" type="button" tabindex="0">
      <span aria-hidden="true">&times;<span class="wcag-invisible">Zamknij okno</span></span>
    </button>
  </div>
  <div class="confirm-content">
    <div class="confirm-modal-content" id="session-control-modal-content" role="document" tabindex="0">
      Jesteś nieaktywny. Twoja sesja głosowania wygaśnie za: <strong class="remaining-time-js"></strong>.</div>
  </div>
</div>
