<div class="row mb-s">
  <div class="columns large-12">
    <legend>
      <p>
        <strong class="text-color-primary">Wpisz swoje dane osobowe.</strong>
        Twoje dane nie będą publicznie dostępne.
        Kliknij przycisk <strong>Dalej</strong>, aby przejść do kolejnego etapu.
      </p>
    </legend>
  </div>
</div>

<%= render partial: "author_fields", locals: { form: form } %>
