<tbody id="projects-list">
  <% if projects.any? %>
    <% projects.each do |project| %>
      <%= card_for project, size: :list_result_item %>
    <% end %>
  <% else %>
    <tr>
      <td class="no-border text-center" colspan="5"><%= t(".empty") %></td>
    </tr>
  <% end %>
</tbody>