<div id="js-accept-evaluations-projects-actions" class="hide js-bulk-action-form">
  <%= form_tag(accept_evaluations_projects_path, method: :post, remote: true, id: "js-form-accept-evaluations", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% projects.each do |project| %>
        <%= check_box_tag "project_ids[]", project.id, false, class: "js-check-all-project js-project-id-#{project.id}" %>
      <% end %>
    </div>
    <p><%= t("decidim.projects.admin.projects.accept_evaluations.number_of_projects", number: '<span id="js-form-accept-evaluations-number"></span>').html_safe %></p>

    <%= submit_tag('Zatwiedź', id: "js-submit-accept-evaluations", class: "button small button--simple float-left") %>

    <button id="js-cancel-accept-evaluations" class="button tiny clear compact js-cancel-bulk-action" type="button">Anuluj</button>
  <% end %>
</div>
