<div class="card">
  <%= render :image if has_image? %>
  <div class="card__content">
    <%= render :header if has_header? %>

    <div class="card__text">
      <div class="card__text--paragraph">
        <div class="cost-description">
          <div class="desc">
            <%= description %>
          </div>
          
          <div class="value text-right">
            <%= value %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
