<thead>
  <tr>
    <th class="text-left title-column"><strong>Nazwa Projektu</strong> / Rodzaj / <strong>#numer</strong> / Koszt</th> 
    <th class="status-column"><strong>Status</strong></th>
    <th class="text-center status-column"><span class="wcag-invisible">Akcje</span></th>
  </tr>
</thead>