<%= render "layouts/decidim/admin/application" do %>
  <div class="process-title">
    <div class="process-title-content">
      Edycje
    </div>
  </div>

  <div class="process-content">
    <%= yield %>
  </div>
<% end %>
