<%= decidim_form_for(@form, url: votes_cards_path, html: { class: "form new_project project_form_admin" }) do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t("decidim.votes.actions.create") %>
    <%= link_to 'Anuluj', votes_cards_path, class: "link" %>
  </div>
<% end %>
