<div class="field">
  <%= f.password_field :password,
                       help_text: t("decidim.devise.registrations.new.password_help", minimun_characters: minimum_password_length),
                       class: 'check-password-strength-js',
                       data: { confirmation: '#password_user_password_confirmation' },
                       aria: { describedby: 'requirements' } %>

  <ul class="password-rules" id="requirements">
    <li id="length"><span class="wcag-invisible">Musi zawierać </span><%= minimum_password_length %> znaków</li>
    <li id="lowercase"><span class="wcag-invisible">Musi zawierać </span>jedną, małą literę</li>
    <li id="uppercase"><span class="wcag-invisible">Musi zawierać </span>jedną, wielką literę</li>
    <li id="number"><span class="wcag-invisible">Musi zawierać </span>jedną cyfrę</li>
    <li id="special"><span class="wcag-invisible">Musi zawierać </span>jeden znak specjalny</li>
  </ul>
</div>

<div class="field">
  <%= f.password_field :password_confirmation,
                       class: 'password-confirmation-js',
                       data: { password: '#password_user_password' },
                       required: true %>
</div>